# vim:fileencoding=utf-8

#: Fonts

#: kitty has very powerful font management. You can configure
#: individual font faces and even specify special fonts for particular
#: characters.

font_family      Maple Mono NF CN
bold_font        Maple Mono NF CN Bold
italic_font      Maple Mono NF CN Italic
bold_italic_font Maple Mono NF CN Bold Italic

font_features        MapleMono-NF-CN +cv01 +ss02 +ss04 +ss05 +zero
font_features        MapleMono-NF-CN-Bold +cv01 +ss02 +ss04 +ss05 +zero
font_features        MapleMono-NF-CN-Italic +cv01 +ss02 +ss04 +ss05 +zero
font_features        MapleMono-NF-CN-BoldItalic +cv01 +ss02 +ss04 +ss05 +zero

#: Font size (in pts).
{{ if eq .chezmoi.os "darwin" -}}
font_size 14.0
{{ else if eq .chezmoi.os "linux" -}}
font_size 12.0
{{ else -}}
font_size 13.0
{{ end -}}
repaint_delay 10
input_delay 3
sync_to_monitor yes

# cursor_blink_interval -1

# cursor_stop_blinking_after 15.0

#: Stop blinking cursor after the specified number of seconds of
#: keyboard inactivity. Set to zero to never stop blinking. This
#: setting also controls blinking text, which blinks in exact rhythm
#: with the cursor.

cursor_trail 2
cursor_trail_decay 0.1 0.4

#: Scrollback

scrollback_lines 10000
map f1 launch --stdin-source=@screen_scrollback --stdin-add-formatting less +G -R
scrollback_pager_history_size 128

#: Number of lines of history to keep in memory for scrolling back.
#: Memory is allocated on demand. Negative numbers are (effectively)
#: infinite scrollback. Note that using very large scrollback is not
#: recommended as it can slow down performance of the terminal and
#: also use large amounts of RAM. Instead, consider using
#: scrollback_pager_history_size. Note that on config reload if this
#: is changed it will only affect newly created windows, not existing
#: ones.

scrollbar_width 1

single_window_margin_width 4
#: The width of the scroll bar in units of cell width.
scrollbar_hover_width 2
window_padding_width   5
window_border_width     1pt
draw_minimal_borders    yes
# active_border_color     #44ffff
window_margin_width     3
inactive_text_alpha     0.7
enabled_layouts         splits, stack, horizontal, vertical
tab_bar_style       powerline
tab_powerline_style round
hide_window_decorations no
{{ if eq .chezmoi.os "darwin" -}}
macos_show_window_title_in all
{{ end -}}
tab_bar_edge top

notify_on_cmd_finish unfocused
shell_integration enabled
url_style curly
open_url_with default
detect_urls yes
allow_hyperlinks yes
show_hyperlink_targets yes
underline_hyperlinks always

include Catppuccin-Mocha.conf
enable_audio_bell no
window_alert_on_bell yes
bell_on_tab yes
copy_on_select yes
tab_bar_margin_width 1.0
#tab_bar_margin_height 5 0
tab_bar_style separator
tab_bar_min_tabs 2
tab_separator ""
tab_activity_symbol "●"
tab_title_template        "{fmt.fg._5c6370}{fmt.bg.default}{fmt.fg._abb2bf}{fmt.bg._5c6370} {fmt.fg.red}{activity_symbol}{fmt.fg._abb2bf}{index}: {title}{' [{}]'.format(num_windows) if num_windows > 1 else ''} {fmt.fg._5c6370}{fmt.bg.default} "
active_tab_title_template "{fmt.fg._282c34}{fmt.bg.default}{fmt.fg._abb2bf}{fmt.bg._282c34} {fmt.fg.red}{activity_symbol}{fmt.fg._abb2bf}{index}: {title}{' [{}]'.format(num_windows) if num_windows > 1 else ''} {fmt.fg._282c34}{fmt.bg.default} "
background_opacity 1
active_tab_font_style   bold
inactive_tab_font_style normal

copy_on_select clipboard


{{- if eq .chezmoi.os "darwin" }}
# macOS: Cmd-based bindings, close to native app / Ghostty conventions.
map cmd+n new_os_window
map cmd+q quit
map cmd+w close_window
map cmd+alt+w close_tab
map cmd+shift+w close_os_window
map cmd+t new_tab_with_cwd
map cmd+shift+[ previous_tab
map cmd+shift+] next_tab
map cmd+1 goto_tab 1
map cmd+2 goto_tab 2
map cmd+3 goto_tab 3
map cmd+4 goto_tab 4
map cmd+5 goto_tab 5
map cmd+6 goto_tab 6
map cmd+7 goto_tab 7
map cmd+8 goto_tab 8
map cmd+9 goto_tab -1
map cmd+d launch --location=vsplit --cwd=last_reported
map cmd+shift+d launch --location=hsplit --cwd=last_reported
map cmd+enter toggle_fullscreen
map cmd+c copy_or_noop
map cmd+v paste_from_clipboard
map cmd+shift+u open_url_with_hints
map cmd+equal change_font_size all +2.0
map cmd+plus change_font_size all +2.0
map cmd+minus change_font_size all -2.0
map cmd+0 change_font_size all 0
map cmd+alt+left neighboring_window left
map cmd+alt+right neighboring_window right
map cmd+alt+up neighboring_window up
map cmd+alt+down neighboring_window down
map cmd+ctrl+left resize_window narrower 10
map cmd+ctrl+right resize_window wider 10
map cmd+ctrl+up resize_window taller 10
map cmd+ctrl+down resize_window shorter 10
{{- else if eq .chezmoi.os "linux" }}
# Linux: keep bare Ctrl for shell/Vim; use Ctrl+Shift for Kitty-level tabs/splits.
map ctrl+shift+n new_os_window
map ctrl+shift+q quit
map ctrl+shift+w close_window
map ctrl+alt+shift+w close_tab
map ctrl+shift+t new_tab_with_cwd
map ctrl+shift+[ previous_tab
map ctrl+shift+] next_tab
map ctrl+shift+1 goto_tab 1
map ctrl+shift+2 goto_tab 2
map ctrl+shift+3 goto_tab 3
map ctrl+shift+4 goto_tab 4
map ctrl+shift+5 goto_tab 5
map ctrl+shift+6 goto_tab 6
map ctrl+shift+7 goto_tab 7
map ctrl+shift+8 goto_tab 8
map ctrl+shift+9 goto_tab -1
map ctrl+shift+d launch --location=vsplit --cwd=last_reported
map ctrl+alt+shift+d launch --location=hsplit --cwd=last_reported
map ctrl+shift+enter toggle_fullscreen
map ctrl+shift+c copy_to_clipboard
map ctrl+shift+v paste_from_clipboard
map ctrl+shift+u open_url_with_hints
map ctrl+shift+equal change_font_size all +2.0
map ctrl+shift+plus change_font_size all +2.0
map ctrl+shift+minus change_font_size all -2.0
map ctrl+shift+0 change_font_size all 0
map ctrl+alt+left neighboring_window left
map ctrl+alt+right neighboring_window right
map ctrl+alt+up neighboring_window up
map ctrl+alt+down neighboring_window down
map ctrl+alt+shift+left resize_window narrower 10
map ctrl+alt+shift+right resize_window wider 10
map ctrl+alt+shift+up resize_window taller 10
map ctrl+alt+shift+down resize_window shorter 10
{{- end }}

# BEGIN_KITTY_THEME
# Catppuccin-Latte
include current-theme.conf
# END_KITTY_THEME
