# vim:fileencoding=utf-8

#: Fonts

#: kitty has very powerful font management. You can configure
#: individual font faces and even specify special fonts for particular
#: characters.

font_family      Maple Mono NF CN
bold_font        Maple Mono NF CN Bold
italic_font      Maple Mono NF CN Italic
bold_italic_font Maple Mono NF CN Bold Italic

font_features        MapleMono-NF-CN +cv01 +ss02 +ss04 +ss05 +zero
font_features        MapleMono-NF-CN-Bold +cv01 +ss02 +ss04 +ss05 +zero
font_features        MapleMono-NF-CN-Italic +cv01 +ss02 +ss04 +ss05 +zero
font_features        MapleMono-NF-CN-BoldItalic +cv01 +ss02 +ss04 +ss05 +zero

#: Font size (in pts).
font_size 14.0
repaint_delay 10
input_delay 3
sync_to_monitor yes

# cursor_blink_interval -1

# cursor_stop_blinking_after 15.0

#: Stop blinking cursor after the specified number of seconds of
#: keyboard inactivity. Set to zero to never stop blinking. This
#: setting also controls blinking text, which blinks in exact rhythm
#: with the cursor.

cursor_trail 2
cursor_trail_decay 0.1 0.4

#: Scrollback

scrollback_lines 10000
map f1 launch --stdin-source=@screen_scrollback --stdin-add-formatting less +G -R
scrollback_pager_history_size 128

#: Number of lines of history to keep in memory for scrolling back.
#: Memory is allocated on demand. Negative numbers are (effectively)
#: infinite scrollback. Note that using very large scrollback is not
#: recommended as it can slow down performance of the terminal and
#: also use large amounts of RAM. Instead, consider using
#: scrollback_pager_history_size. Note that on config reload if this
#: is changed it will only affect newly created windows, not existing
#: ones.

scrollbar_width 1

single_window_margin_width 4
#: The width of the scroll bar in units of cell width.
scrollbar_hover_width 2
window_padding_width   5
window_border_width     1pt
draw_minimal_borders    yes
# active_border_color     #44ffff
window_margin_width     3
inactive_text_alpha     0.7
enabled_layouts         splits, stack, horizontal, vertical
tab_bar_style       powerline
tab_powerline_style round
hide_window_decorations no
{{ if eq .chezmoi.os "darwin" -}}
macos_show_window_title_in all
{{ end -}}
tab_bar_edge top

notify_on_cmd_finish unfocused
shell_integration enabled
url_style curly
open_url_with default
detect_urls yes
allow_hyperlinks yes
show_hyperlink_targets yes
underline_hyperlinks always

include Catppuccin-Mocha.conf
enable_audio_bell no
window_alert_on_bell yes
bell_on_tab yes
copy_on_select yes
tab_bar_margin_width 1.0
#tab_bar_margin_height 5 0
tab_bar_style separator
tab_bar_min_tabs 2
tab_separator ""
tab_activity_symbol "●"
tab_title_template        "{fmt.fg._5c6370}{fmt.bg.default}{fmt.fg._abb2bf}{fmt.bg._5c6370} {fmt.fg.red}{activity_symbol}{fmt.fg._abb2bf}{index}: {title}{' [{}]'.format(num_windows) if num_windows > 1 else ''} {fmt.fg._5c6370}{fmt.bg.default} "
active_tab_title_template "{fmt.fg._282c34}{fmt.bg.default}{fmt.fg._abb2bf}{fmt.bg._282c34} {fmt.fg.red}{activity_symbol}{fmt.fg._abb2bf}{index}: {title}{' [{}]'.format(num_windows) if num_windows > 1 else ''} {fmt.fg._282c34}{fmt.bg.default} "
background_opacity 1
active_tab_font_style   bold
inactive_tab_font_style normal

copy_on_select clipboard


{{- $mod := "cmd" -}}
{{- $resize_mod := "cmd+ctrl" -}}
{{- if eq .chezmoi.os "linux" -}}
{{- $mod = "ctrl" -}}
{{- $resize_mod = "ctrl+shift" -}}
{{- end }}
# Ghostty-like bindings
map {{ $mod }}+[ previous_window
map {{ $mod }}+] next_window
map {{ $mod }}+alt+left neighboring_window left
map {{ $mod }}+alt+right neighboring_window right
map {{ $mod }}+alt+up neighboring_window up
map {{ $mod }}+alt+down neighboring_window down
map {{ $mod }}+n new_os_window
map {{ $mod }}+q quit
map {{ $mod }}+w close_window
map {{ $mod }}+alt+w close_tab
map {{ $mod }}+shift+w close_os_window
map {{ $mod }}+t new_tab_with_cwd
map shift+{{ $mod }}+[ previous_tab
map shift+{{ $mod }}+] next_tab
map {{ $mod }}+1 goto_tab 1
map {{ $mod }}+2 goto_tab 2
map {{ $mod }}+3 goto_tab 3
map {{ $mod }}+4 goto_tab 4
map {{ $mod }}+5 goto_tab 5
map {{ $mod }}+6 goto_tab 6
map {{ $mod }}+7 goto_tab 7
map {{ $mod }}+8 goto_tab 8
map {{ $mod }}+9 goto_tab -1
map {{ $mod }}+d launch --location=vsplit --cwd=last_reported
map shift+{{ $mod }}+d launch --location=hsplit --cwd=last_reported
map {{ $mod }}+enter toggle_fullscreen
map {{ $mod }}+c copy_or_noop
map {{ $mod }}+v paste_from_clipboard
map {{ $mod }}+shift+u open_url_with_hints
map {{ $mod }}+equal change_font_size all +2.0
map {{ $mod }}+plus change_font_size all +2.0
map shift+{{ $mod }}+equal change_font_size all +2.0
map {{ $mod }}+minus change_font_size all -2.0
map shift+{{ $mod }}+minus change_font_size all -2.0
map {{ $mod }}+0 change_font_size all 0
map {{ $mod }}+shift+l next_layout
map {{ $mod }}+shift+s goto_layout splits
map {{ $mod }}+shift+h goto_layout horizontal
map {{ $mod }}+shift+v goto_layout vertical
map {{ $resize_mod }}+left resize_window narrower 10
map {{ $resize_mod }}+right resize_window wider 10
map {{ $resize_mod }}+up resize_window taller 10
map {{ $resize_mod }}+down resize_window shorter 10
#map ctrl+a>minus launch --location=hsplit --cwd=last_reported
#map ctrl+a>backslash launch --location=vsplit --cwd=last_reported
#: Next layout

# map kitty_mod+l next_layout
# Move the active window in the indicated direction
map shift+up move_window up
map shift+left move_window left
map shift+right move_window right
map shift+down move_window down

# Switch focus to the neighboring window in the indicated direction
map {{ $mod }}+left neighboring_window left
map {{ $mod }}+right neighboring_window right
map {{ $mod }}+up neighboring_window up
map {{ $mod }}+down neighboring_window down
#map ctrl+a>h neighboring_window left
#map ctrl+a>l neighboring_window right
#map ctrl+a>k neighboring_window up
#map ctrl+a>j neighboring_window down


# BEGIN_KITTY_THEME
# Catppuccin-Latte
include current-theme.conf
# END_KITTY_THEME
